<!-- renderizado noticia -->
<% const estaCreando = typeof noticia === "undefined"%>


<h1><%= estaCreando === "undefined"?'Crear': 'Actualizar'%></h1>
<h1> una noticia </h1>

<!-- emmet -->
<form action="/<%=estaCreando?'crear':'actualizar'%>-noticia/<%=estaCreando ? '':noticia.id%>"
      method="post">
    <div>
        <label for="titulo">Titulo</label>
        <input id="titulo"
               name="titulo"
               type="text"
                value="<%=estaCreando?' ':noticia.titulo%>">    <!-- INPUT Siempre alado de un label -->
    </div>
    <br>
    <div>
        <label for="descripcion">Descripcion</label>
        <textarea id="descripcion"
                  name="descripcion"
                  cols="30"
                  rows="4">
            <%estaCreando?'':noticia.descripcion%>
        </textarea>

    </div>

    <button><%estaCreando?'Crear':'Actualizar '%> noticia</button>
</form>
<a href="/inicio">
    <button>Regresar</button>
</a>