<% const estaCreando = typeof cancion === "undefined"%>



<form action="/crear-cancion" method="post">
    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" name="Nombre" type="text">    <!-- INPUT Siempre alado de un label -->
    </div>
    <br>
    <div>
        <label for="autor">Autor</label>
        <input id="autor" name="Autor" type="text">
    </div>
    <br>
    <div>
        <label for="anio">Año</label>
        <input id="anio" name="Año" type="date">
    </div>

    <button>Crear noticia</button>
</form>

<a href="/inicio">
    <button>Regresar</button>
</a>