<!--Etiqueta stile lee CSS -->
<style>
    table, th, td{
        border: 1px solid blue;
        border-collapse: collapse;
    }
</style>


<!--Header 1 -->
<h1><%= usuario %></h1>  <!-- El igual es para mostrar algo -->
<% var bel = 'bel'%>
<!--Header 2 -->
<h2><%= bel%></h2>

<% if(booleano){ %>
    <p> Usted creo una noticia</p>
<% } %>

